section.about(id='about')
  h2.about__title About Us
  img.about__img(src='img/about.svg', alt='Britlex. About', loading='lazy')
  .about__text-wrapper
    p.about__text The model offers a framework for discussing  problems related to the user's experience, as well as possible ways and means of solving them. Application development begins at the top level (strategy), where the future software product is described quite abstractly from the point of view of the expectations of both users and the customer.
    .about__facts-wrapper
      each item in AboutFactsItems
        .about-fact
          .about-fact__number= item.number
          .about-fact__position= item.position
