section.contacts(id='contacts')
  img.contacts__img(src='img/contacts.svg', alt='Briitlex. Contact Us')
  .contacts__text-wrapper
    h2.contacts__title Contact Us
    p.contacts__text Discover your current English level by taking our free online English test.Sign up to our newsletter for learning tips and free resource
    form.contacts__form(method='POST', action='')
      input.contacts__form-input(type='email', placeholder='Enter Your E-mail')
      button.btn.btn--contacts-form-subscribe(type='submit', value='Subscribe')
