section#home.home(data-scroll-section)
  .home__text-wrapper
    h1.home__title(
      data-scroll,
      data-scroll-repeat,
      data-scroll-call='toggleBackToTop') Learn Any&nbsp;Foreign Language
    p.home__text With our teachers who write a&nbsp;program for each student, you will&nbsp;be able to&nbsp;make your first sketch after the&nbsp;first lesson.
    a.btn.btn--home(href='#') Get started
  img.home__img(
    src='img/home.svg',
    alt='Britlex. Learn Any Foreign Language',
    data-scroll)
