section.home(id='home')
  .home__text-wrapper
    h1.home__title Learn Any&nbsp;Foreign Language
    p.home__text With our teachers who write a&nbsp;program for each student, you will&nbsp;be able to&nbsp;make your first sketch after the&nbsp;first lesson.
    a.btn.btn--home(href='#') Get started
  img.home__img(src='img/home.svg', alt='Britlex. Learn Any Foreign Language', loading='lazy')
