.about {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__title {
    @include titleStyle;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 24px auto 23px;
    object-position: center;
    object-fit: contain;
  }

  &__text {
    color: $gray-medium;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }

  &__facts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: $screen-xs) {
  .about {
    &__img {
      width: 352px;
      height: 352px;
      margin: 23px auto 25px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
    }

    &__facts-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
