.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 72px;

  &__title {
    @include titleStyle;
    order: 0;
  }

  &__img {
    order: 1;
    width: 253px;
    height: 228px;
    margin: 38px auto;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $gray-medium;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto 57px;
  }

  &__form-input {
    @include text-overflow();
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid $gray-medium;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 14px;
    padding: 0 26px;
    color: $gray-darker;
    transition: border-color 0.25s ease-in;

    &::placeholder {
      font-family: $font-family;
      color: $gray-medium;
      font-size: 12px;
      line-height: 18px;
      transition: color 0.25s ease-in;
    }

    &:focus-within {
      border: 1px solid $gray-darker;
      outline: 0;

      &::placeholder {
        color: $transparent-color;
      }
    }
  }
}
