.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 72px;

  &__title {
    @include titleStyle;
    order: 0;
  }

  &__img {
    order: 1;
    width: 253px;
    height: 228px;
    margin: 38px auto;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $gray-medium;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto 57px;
  }

  &__form-input {
    @include text-overflow();
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid $gray-medium;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 14px;
    padding: 0 26px;
    color: $gray-darker;
    transition: border-color 0.25s ease-in;

    &::placeholder {
      font-family: $font-family;
      color: $gray-medium;
      font-size: 12px;
      line-height: 18px;
      transition: color 0.25s ease-in;
    }

    &:focus-within {
      border: 1px solid $gray-darker;
      outline: 0;

      &::placeholder {
        color: $transparent-color;
      }
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .contacts {
    margin-top: 163px;

    &__img {
      width: 358px;
      height: 322px;
      margin: 83px auto 34px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__form {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      margin: 60px auto 144px;
    }

    &__form-input {
      @include text-overflow();
      width: 100%;
      height: 60px;
      border-radius: 10px;
      font-size: 16px;
      padding: 0 200px 0 26px;

      &::placeholder {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}


@media screen and (min-width: $screen-sm) {
  .contacts {
    display: grid;
    grid-template-columns: 233px 1fr;
    grid-template-rows: repeat(3, auto);
    align-content: center;
    grid-gap: 0 38px;
    margin: 140px 0 112px;

    &__img {
      align-self: center;
      order: 0;
      grid-row: span 3;
      width: 100%;
      height: auto;
      margin: 0;
    }

    &__text-wrapper {
      max-width: 100%;
    }

    &__title {
      margin-bottom: -9px;
      text-align: left;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
      text-align: left;
    }

    &__form {
      display: flex;
      flex-direction: row;
      position: relative;
      gap: 6px;
      max-width: 100%;
      margin: 26px 0 0;
    }

    &__form-input {
      @include text-overflow();
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 5px;
      font-size: 16px;
      padding: 14px 24px;

      &::placeholder {
        font-size: 12px;
        line-height: 1em;
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  .contacts {
    grid-template-columns: 312px 1fr;
    grid-gap: 0 109px;
    margin: 140px 0 157px;

    &__img {
      object-position: center top;
    }

    &__title {
      margin: 0 0 3px 10px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__form {
      gap: 14px;
      margin: 34px 0 0;
    }

    &__form-input {
      @include text-overflow();
      flex: unset;
      height: 60px;
      border-radius: 10px;
      font-size: 16px;
      padding: 16px 24px 16px 38px;

      &::placeholder {
        font-size: 14px;
        line-height: 1.5em;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .contacts {
    grid-template-columns: 477px 1fr;
    grid-gap: 0  111px;
    margin: 261px 0 133px;

    &__img {
      object-position: center;
    }

    &__title {
      margin: 0 0 37px;
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
    }

    &__form {
      gap: 12px;
      margin: 52px 0 0;
    }

    &__form-input {
      @include text-overflow();
      height: 80px;
      font-size: 20px;
      padding: 16px 24px 16px 33px;

      &::placeholder {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
  }
}
