.home {
  display: flex;
  flex-direction: column;

  &__text-wrapper {
    order: 2;
  }

  &__title {
    margin: 16px 0 20px;
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  &__text {
    color: $gray-medium;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  &__img {
    display: flex;
    order: 1;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center top;
  }
}

@media screen and (min-width: $screen-xs) {
  .home {
    &__title {
      margin: 17px 0 26px;
      font-size: 34px;
      line-height: 45px;
    }

    &__text {
      color: $gray-medium;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    &__img {
      align-self: center;
      width: 424px;
      height: 424px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .home {
    flex-direction: row-reverse;

    &__title {
      position: relative;
      width: 50%;
      margin: 28px 0 25px;
      font-size: 36px;
      line-height: 45px;
      text-align: left;

      &::before {
        @include pseudo();
        bottom: 5px;
        left: 100%;
        width: 43px;
        height: 47px;
        background: url('../img/title-light.svg') no-repeat center center / contain;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }

    &__img {
      align-self: center;
      width: 50%;
      height: auto;
      max-height: calc(50vw - 2 * #{$padding-sm});
    }
  }
}

@media screen and (min-width: $screen-md) {
  .home {
    &__title {
      width: 60.5%;
      margin: 55px 0 27px;
      font-size: 48px;
      line-height: 64px;

      &::before {
        @include pseudo();
        bottom: 34px;
        left: calc(100% + 31px);
        width: 49px;
        height: 54px;
        background: url('../img/title-light.svg') no-repeat center center / contain;
      }
    }

    &__text {
      width: 80%;
      font-size: 20px;
      line-height: 30px;
    }

    &__img {
      align-self: center;
      width: 50%;
      height: auto;
      max-height: calc(50vw - 2 * #{$padding-md});
    }
  }
}
