.main-nav {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-color;

  &.active {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 135px $padding-xs 20px;
    background-color: $white-color;
    overflow-y: auto;
    animation: slideInLeft 0.25s ease-in;
  }

  &__close-btn {
    @include hover();
    position: absolute;
    top: 37px;
    right: 7px;
    width: 34px;
    height: 34px;
    border: none;
    background: url('../img/mobile-menu-close.svg') no-repeat center center / auto, $transparent-color;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in;
  }

  &__list {
    position: relative;
    list-style: none;

    &::before {
      @include pseudo();
      top: -35px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #c4c4c4;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
  }

  &__link {
    @include hover();
    color: $gray-medium;
    font-weight: 500;
    font-size: 22px;
    line-height: 65px;
    text-decoration: none;

    &:visited {
      color: $gray-medium;
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .main-nav {
    &__close-btn {
      top: 45px;
      right: 23px;
      width: 39px;
      height: 39px;
    }

    &__wrapper {
      padding: 173px $padding-sm 30px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .main-nav {
    background-color: rgba(7, 34, 47, 0.75);

    &__close-btn {
      right: $padding-md;
    }

    &__wrapper {
      display: flex;
      max-width: 430px;
    }
  }
}
