.page {
  font-family: $font-family;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 0 $padding-xs;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }

  &__footer-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: $screen-xs) {
  .page {
    &__inner {
      padding: 0 $padding-sm;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .page {
    &__inner {
      padding: 0 $padding-md;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .page {
    &__inner {
      padding: 0 $padding-lg;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page {
    &__inner {
      padding: 0 $padding-xl;
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .page {
    &__inner {
      width: $screen-xl;
      margin: 0 auto;
    }
  }
}
