.pricing {
  display: flex;
  flex-direction: column;
  margin-top: 84px;

  &__title {
    @include titleStyle;
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 65px;
  }
}

@media screen and (min-width: $screen-xs) {
  .pricing {
    margin-top: 119px;

    &__items-wrapper {
      margin-top: 54px;
      gap: 70px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .pricing {
    margin-top: 31px;

    &__items-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin-top: 10px;
      gap: 5px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .pricing {
    &__items-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .pricing {
    margin-top: 188px;

    &__items-wrapper {
      gap: 52px;
      margin-top: 57px;
    }
  }
}
