.pricing-item {
  display: flex;
  flex-direction: column;

  &__img {
    align-self: center;
    object-fit: contain;
    object-position: center;

    &--self-study {
      width: 248px;
      height: 248px;
      margin-bottom: 28px;
    }

    &--live {
      width: 257px;
      height: 197px;
      margin-bottom: 12px;
    }

    &--personal {
      width: 241px;
      height: 241px;
      margin-bottom: 7px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 25px;
    color: $gray-darker;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  &__text {
    color: $gray-medium;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }

  &__price {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: max-content;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px 15px;
    background: #eeeeee;
    font-size: 14px;
    line-height: 21px;
    color: #546269;

    span {
      font-size: 18px;
      line-height: 27px;
      color: $gray-darker;
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .pricing-item {
    width: 400px;

    &__img {
      align-self: center;
      object-fit: contain;
      object-position: center;

      &--self-study {
        width: 291px;
        height: 291px;
        margin-bottom: 29px;
      }

      &--live {
        width: 314px;
        height: 241px;
        margin-bottom: 21px;
      }

      &--personal {
        width: 253px;
        height: 253px;
        margin-bottom: 15px;
      }
    }

    &__title {
      margin-bottom: 21px;
      font-size: 24px;
      line-height: 28px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
    }

    &__price {
      margin-top: 31px;
      font-size: 16px;
      line-height: 24px;

      span {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .pricing-item {
    align-self: stretch;
    width: 100%;

    &__img {
      &--self-study,
      &--live,
      &--personal {
        width: 100%;
        height: 210px;
        margin-bottom: 0;
      }
    }

    &__title {
      margin: 15px 0;
      font-size: 20px;
      line-height: 140%;
      text-align: left;
    }

    &__text {
      margin-bottom: 23px;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
    }

    &__price {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .pricing-item {
    align-self: stretch;
    width: calc((100% - 10px) / 3);

    &__img {
      &--self-study,
      &--live,
      &--personal {
        object-position: left center;
      }
    }

    &__title {
      margin: 5px 0 14px;
    }

    &__text {
      margin-bottom: 31px;
    }

    &__price {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}
