.skills {
  display: flex;
  flex-direction: column;

  &__title {
    @include titleStyle;
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 21px;
  }
}

@media screen and (min-width: $screen-xs) {
  .skills {
    &__items-wrapper {
      flex-flow: row wrap;
      justify-content: center;
      gap: 34px 30px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .skills {
    margin-top: 53px;

    &__items-wrapper {
      display: grid;
      align-items: stretch;
      justify-content: center;
      grid-template-columns: repeat(3, minmax(227px, 1fr));
      grid-template-rows: auto minmax(210px, 1fr);
      grid-gap: 7px 10px;
      margin-top: 53px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .skills {
    margin-top: 75px;

    &__items-wrapper {
      grid-template-columns: repeat(3, minmax(302px, 1fr));
      grid-template-rows: auto minmax(241px, 1fr);
      grid-gap: 13px 21px;
    }
  }
}
