.skills {
  display: flex;
  flex-direction: column;

  &__title {
    @include titleStyle;
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 21px;
  }
}

@media screen and (min-width: $screen-xs) {
  .skills {
    &__items-wrapper {
      flex-flow: row wrap;
      justify-content: center;
      gap: 34px 30px;
    }
  }
}
