-
  const MainNavItems = [
    {
      title: 'Home',
      link: '#home'
    },
    {
      title: 'Skills',
      link: '#skills'
    },
    {
      title: 'About Us',
      link: '#about'
    },
    {
      title: 'Pricing',
      link: '#pricing'
    },
    {
      title: 'Contacts ',
      link: '#contacts'
    }
  ];

  const SkillsItems = [
    {
      title: 'Speaking',
      img: 'img/skills01.svg',
      text: 'Improve your English skills and confidence. Live classes and interactive lessons online. 20% extra free for a limited time only\n Learn English online and improve your skills through our high-quality courses and resources – all designed for adult language learners.',
      link: '#'
    },
    {
      title: 'Writing',
      img: 'img/skills02.svg',
      text: 'One of the most important and extensive areas of natural science, the science that studies substances, also their composition',
      link: '#'
    },
    {
      title: 'Reading',
      img: 'img/skills03.svg',
      text: 'perception and response actions of the user resulting from the use and/or upcoming use of the product, system or service',
      link: '#'
    },
    {
      title: 'Listening',
      img: 'img/skills04.svg',
      text: 'Here you can find activities to practise your listening skills. Listening will help you  to improve your understanding ',
      link: '#'
    },
  ];

  const AboutFactsItems = [
    {
      number: 800,
      position: 'Pupils',
    },
    {
      number: 18,
      position: 'Teachers'
    },
    {
      number: 6,
      position: 'Foreign languages'
    },
  ];

  const PricingItems = [
    {
      title: 'Self-study online course',
      text: 'Start learning English online in live classes with qualified EC teachers and students from all over the world.',
      img: 'img/pricing01.svg',
      price: 5.99
    },
    {
      title: 'Live online classes',
      text: 'Interactive group classes with expert teachers. Free 7-day trial',
      img: 'img/pricing02.svg',
      price: 12.99
    },
    {
      title: 'Personal Tuition',
      text: 'Online one-to-one English tutoring — enjoy our first session for only $1',
      img: 'img/pricing03.svg',
      price: 20.99
    },
  ];
