extends ../pug/layout.pug

block meta
  title Britlex
  meta(name='description', content='')

//- block append hea d
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    a.header__logo(href='/', id='logo-link')
      img.header__logo-img(src='img/logo.svg', alt='Britlex')

    button.header__mobile-burger-btn(type='button', id='mobile-menu-burger-btn')

    nav.main-nav(id='main-nav')
      .main-nav__wrapper
        button.main-nav__close-btn(type='button', id='mobile-menu-close-btn')
        ul.main-nav__list
          each item in MainNavItems
            li.main-nav__item
              a.main-nav__link(href=`${item.link}`)= item.title
        button.btn.btn--lets-talk(type='button') Let’s Talk


block content
  include ../pug/blocks/home.pug
  include ../pug/blocks/skills.pug
  include ../pug/blocks/about.pug
  include ../pug/blocks/pricing.pug
  include ../pug/blocks/contacts.pug


block footer
  .up-btn(id='up-btn')
  footer.footer
    .footer__logo
      img(src='img/logo.svg', alt='Britlex')

    .footer__links-wrapper
      a.footer__link(href='#') Terms and Conditions
      a.footer__link(href='#') Privacy Policy
      a.footer__link(href='#') Cookie Policy

//- block append page-bottom
//-   script(src='js/some.js')
