$main-color:          #263238;
$warning-color:       #fdc05d;

$white-color:         #ffffff;

$gray-light:          #f5f5f5;
$gray-medium:         #8f95a5;
$gray-darker:         #263238;

$text-color:          $gray-medium;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         Poppins, Arial, 'Helvetica Neue', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           576px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1600px;
$screen-xl:           1920px;

$padding-xs:          15px;
$padding-sm:          32px;
$padding-md:          39px;
$padding-lg:          29px;
$padding-xl:          127px;
